<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xiba.demo.module_c" >
    <application>
        <meta-data
            android:name="me.xiba.demo.module_c.application.ModuleCApplication"
            android:value="IModuleConfig" />
        <activity android:name=".activity.ModuleCActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
